<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <Filter type="ThresholdFilter" level="trace" />

    <Appenders>
        <Console name="ConsoleWriter">
            <Layout type="PatternLayout" pattern="[%t] %m%n" />
        </Console>
        <RollingFile name="FileWriter"
                     fileName="ServerWorkingLogs.log"
                     filePattern="$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="500KB"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleWriter" />
            <AppenderRef ref="FileWriter" />
        </Root>
    </Loggers>

</Configuration>